<template>
  <div>
    <!-- ----------------------------------------------- -->
    <!-- top cards -->
    <!-- ----------------------------------------------- -->
    <h4  class="card-title mb-1">Solusi Untuk Soal 2</h4>
    <b-card class="mb-4">
      <h4 @click="getData([600,200,400,100], [200,800,100,50,55])" class="card-title mb-1">Leaderboards : [600,200,400,100] & Player : [200,800,100,50,55]</h4>
    </b-card>
    <b-card class="mb-4">
      <h4 @click="getData([100,70,80,50], [120,10,40,40,80])" class="card-title mb-1">Leaderboards : [100,70,80,50] & Player : [120,10,40,40,80]</h4>
    </b-card>
    <b-card class="mb-4">
      <h4 @click="getData([100,200,700,50], [100,700,200,50,100])" class="card-title mb-1">Leaderboards : [100,200,700,50] & Player : [100,700,200,50,100]</h4>
    </b-card>
    <b-card class="mb-4">
          <h4 class="card-title mb-1">Hasil Perhitungan :</h4>
          <b-card-text class="mb-2">Leaderboards : {{Leaderboards}}</b-card-text>
          <b-card-text class="mb-2">Player : {{Player}}</b-card-text>
          <b-card-text class="mb-2">Rank Player : {{value}}</b-card-text>
        </b-card>
  </div>
</template>

<script>export default {
  name: "Starter",
  data: () => ({
    value: '',
    Leaderboards : '',
    Player: ''
  }),
  components: {
  },
  methods: {
    getData(a,b) {
      this.Leaderboards = a;
      this.Player = b;
      console.log(b)
      let rank = []
      let all = [].concat(a,b)
      all = all.slice(0).sort((x, y) => y - x);
      let listRank = all.filter(function(item, dup, self) {
          return self.indexOf(item) == dup;
      })
      for(let index in b){
        const x = b[index]
        for(let i in listRank){
          const y = listRank[i]
          if(x == y){
            rank.push(parseInt(i)+1)
          }
        }
      }
      this.value = rank
    } 
  }
};
</script>
