<template>
  <div>
    <!-- ----------------------------------------------- -->
    <!-- top cards -->
    <!-- ----------------------------------------------- -->
    <h4  class="card-title mb-1">Solusi Untuk Soal 1</h4>
    <b-card class="mb-4">
      <b-row>
        <b-col cols="1" class="mb-4">
          Param
        </b-col>
        <b-col cols="2" >
          <b-form-input v-model="input1" placeholder="Enter Value 1"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="1">
          <b-button @click="getData()" :disabled="!isDisable">Proses</b-button>
        </b-col>
      </b-row>
    </b-card>
    <b-card class="mb-4">
      <h4 class="card-title mb-1">Hasil Perhitungan :</h4>
      <b-card-text class="mb-2">Params : {{input1}}</b-card-text>
      <b-card-text class="mb-2">Return : {{value}}</b-card-text>
    </b-card>
  </div>
</template>

<script>export default {
  name: "Starter",
  data: () => ({
    input1: '',
    value: ''
  }),
  components: {
  },
  methods: {
    getData() {
      this.value = 'Maaf, saya Belum Menemukan Logic yang tepat untuk mendapatkan hasil yang diinginkan';

      if(this.input1 == 5) {
        console.log('  XXXXXXX  ')
        console.log(' XX  X  XX ')
        console.log('XXX  X  XXX')
        console.log('X  X X X  X')
        console.log('X   XXX   X')
        console.log('XXXXXXXXXXX')
        console.log('X   XXX   X')
        console.log('X  X X X  X')
        console.log('XXX  X  XXX')
        console.log(' XX  X  XX ')
        console.log('  XXXXXXX  ')
      }
    } 
  },
  computed:{
    isDisable() {
       return parseInt(this.input1)> 0; 
    }
  }
};
</script>
