<template>
  <div>
    <!-- ----------------------------------------------- -->
    <!-- top cards -->
    <!-- ----------------------------------------------- -->
    <h4  class="card-title mb-1">Solusi Untuk Soal 3</h4>
    <b-card class="mb-4">
      <b-row>
        <b-col cols="1" class="mb-4">
          Value 1
        </b-col>
        <b-col cols="2" >
          <b-form-input v-model="input1" placeholder="Enter Value 1"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="1" class="mb-4">
          Value 2
        </b-col>
        <b-col cols="2" >
          <b-form-input v-model="input2" placeholder="Enter Value 2"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="1">
          <b-button @click="getData()" :disabled="!isDisable">Proses</b-button>
        </b-col>
      </b-row>
    </b-card>
    
    <b-card class="mb-4">
          <h4 class="card-title mb-1">Hasil Perhitungan :</h4>
          <b-card-text class="mb-2">Input 1 : {{input1}}</b-card-text>
          <b-card-text class="mb-2">Input 2 : {{input2}}</b-card-text>
          <b-card-text class="mb-2">Return : {{value}}</b-card-text>
        </b-card>
  </div>
</template>

<script>export default {
  name: "Starter",
  data: () => ({
    input1: '',
    input2 : '',
    value: ''
  }),
  components: {
  },
  methods: {
    getData() {
      this.input1 = parseInt(this.input1)
      this.input2 = parseInt(this.input2)
      
      let aSisa = this.input1%3
      let bSisa = this.input2%3
      let aPer3 = (this.input1-aSisa)/3
      let bPer3 = (this.input2-bSisa)/3
      let a = ''

      if(aPer3 >= bPer3) {
        let element1 = parseInt(this.input1)
        let element2 = parseInt(this.input2)
        for(let i=0; i < aPer3; i++){
          a = a+ 'aaa'
          element1= element1-3
          if(bPer3 >= i+1){
            a = a+ 'bbb'
            element2 = element2-3
          } else if(bSisa > 0){
            a = a+ 'b'
            bSisa -=1
          }
        }
        if(aSisa > 0){
          for(let i=0; i < aSisa; i++){
            a = a+ 'a'
          }
        }
        if(bSisa > 0){
          for(let i=0; i < bSisa; i++){
            a = a+ 'b'
          }
        }
      } else {
        let element1 = parseInt(this.input2)
        let element2 = parseInt(this.input1)
        for(let i=0; i < bPer3; i++){
          a = a+ 'bbb'
          element1= element1-3
          if(aSisa >= i+1){
            a = a+ 'aaa'
            element2 = element2-3
          } else if(aSisa > 0){
            a = a+ 'a'
            aSisa -=1
          }
        }
        if(bSisa > 0){
          for(let i=0; i < bSisa; i++){
            a = a+ 'b'
          }
        }
        if(aSisa > 0){
          for(let i=0; i < aSisa; i++){
            a = a+ 'a'
          }
        }
      } 
      this.value = a
    } 
  },
  computed:{
    isDisable() {
       return parseInt(this.input1)> 0 && parseInt(this.input2)> 0; 
    }
  }
};
</script>
