<template>
  <div :class="`${Theme}`">
    <!-- ---------------------------------- -->
    <!--- Vertical Header part -->
    <!-- ---------------------------------- -->
      <div class="min-height container-fluid p-4" style="background-color: #e4eaef;">
        <router-view />
      </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "FullLayout",
  components: {
  },
  data: () => ({}),
  computed: {
    ...mapState(["Theme"]),
  },
  created(){
  },
  watch: {},
};
</script>

<style>
</style>